<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="basic"
              label="COM_OSMAP_FIELDSET_SITEMAP_SETTINGS_LABEL">

        <field name="show_external_links"
               label="COM_OSMAP_OPTION_SHOW_EXTERNAL_LINKS_LABEL"
               description="COM_OSMAP_OPTION_SHOW_EXTERNAL_LINKS_DESC"
               type="list"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
            <option value="2">COM_OSMAP_OPTION_ONLY_HTML</option>
        </field>

        <field name="show_item_uid"
               label="COM_OSMAP_OPTION_SHOW_ITEM_UID_LABEL"
               description="COM_OSMAP_OPTION_SHOW_ITEM_UID_DESC"
               type="radio"
               class="btn-group btn-group-yesno"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="ignore_duplicated_uids"
               label="COM_OSMAP_OPTION_IGNORE_DUPLICATED_UIDS_LABEL"
               description="COM_OSMAP_OPTION_IGNORE_DUPLICATED_UIDS_DESC"
               type="radio"
               class="btn-group btn-group-yesno"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <!-- Игнорировать скрытые меню -->
        <field name="ignore_hidden_menus"
               label="COM_OSMAP_OPTION_IGNORE_HIDDEN_MENUS_LABEL"
               description="COM_OSMAP_OPTION_IGNORE_HIDDEN_MENUS_DESC"
               type="radio"
               class="btn-group btn-group-yesno"
               default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>
    <fieldset name="background_creation"
              label="COM_OSMAP_FIELDSET_LOGIC_SETTINGS_LABEL">

        <field name="background_creation"
        	type="radio"
        	default="0"
        	readonly="0"
        	label="COM_OSMAP_CONFIG_BACKGROUND_CREATION"
        	description="COM_OSMAP_CONFIG_BACKGROUND_CREATION_DESC"
        	class="btn-group btn-group-yesno"
        	showon=""
        	>
        	<option value="1">JYES</option>
        	<option value="0">JNO</option>
        </field>

        <!-- Максимаьное количество ошибок для Ajax запроса -->
        <field name="max_ajax_err"
        	type="text"
        	default="5"
        	class="max_ajax_err "
        	size="20"
        	readonly=""
        	required=""
        	label="CONFIG_MAX_AJAX_ERR"
        	description="CONFIG_MAX_AJAX_ERR_DESC"
        	showon="background_creation:1"
        	hint=""
        	filter="raw" />
        	
        	
        <field name="gzip_on"
        	type="radio"
        	default="0"
        	readonly="0"
        	label="COM_OSMAP_CONFIG_GZIP_ON"
        	description="COM_OSMAP_CONFIG_GZIP_ON_DESC"
        	class="btn-group btn-group-yesno"
        	showon="background_creation:1"

        	>
        	<option value="1">JYES</option>
        	<option value="0">JNO</option>
        </field>


         
    </fieldset>

    <fieldset name="permissions"
              label="JCONFIG_PERMISSIONS_LABEL"
              description="JCONFIG_PERMISSIONS_DESC"
              addfieldpath="/administrator/components/com_osmap/form/fields">

        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               filter="rules"
               component="com_osmap"
               section="component">

            <action name="core.admin"
                    title="JACTION_ADMIN"
                    description="JACTION_ADMIN_COMPONENT_DESC"/>

            <action name="core.manage"
                    title="JACTION_MANAGE"
                    description="JACTION_MANAGE_COMPONENT_DESC"/>
        </field>

        <field type="customfooter"
               name="customfooter"
               media="com_osmap"
               showgoproad="0"
               jedurl="https://extensions.joomla.org/extension/osmap/"/>
    </fieldset>
</config>
